<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/navBar.ejs") %>
    <%= JSON.stringify(user)%>
    <%- include("./partials/script.ejs") %>
  </body>
</html>
